Sign up

<div class="signup">
  <form action='/users/signup' method='post'>
    username: <br><input type='text' name='user[name]'><br>
    password: <br><input type='password' name='user[password]'><br>
    email: <br><input type='email' name='user[email]'><br>
    <input type='submit' name='submit' value='Submit'>
  </form>
</div>

<br><br>

Login

<div class="login">
  <form action='/users/login' method='post'>
    username: <br><input type='text' name='user[name]'><br>
    password: <br><input type='password' name='user[password]'><br>
    <input type='submit' name='submit' value='Login'>
  </form>
</div>

